<h1 *ngIf="isAddMode">Add User</h1>
<h1 *ngIf="!isAddMode">Edit User</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <label for="FirstName">First Name</label>
            <input type="text" formControlName="FirstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }" />
            <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                <div *ngIf="f.FirstName.errors.required">First Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="MiddleName">Middle Name</label>
            <input type="text" formControlName="MiddleName" class="form-control" />
        </div>
        <div class="form-group col">
            <label for="LastName">Last Name</label>
            <input type="text" formControlName="LastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }" />
            <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                <div *ngIf="f.LastName.errors.required">Last Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <label for="UserName">User Name</label>
            <input type="text" formControlName="UserName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.UserName.errors }" />
            <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                <div *ngIf="f.UserName.errors.required">UserName is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="EmailAddress">Email Address</label>
            <input type="text" formControlName="EmailAddress" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.EmailAddress.errors }" />
            <div *ngIf="submitted && f.EmailAddress.errors" class="invalid-feedback">
                <div *ngIf="f.EmailAddress.errors.required">EmailAddress is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="PhoneNo">Phone Number</label>
            <input type="text" formControlName="PhoneNo" class="form-control" />            
        </div>
        <div class="form-group col">
            <label for="Password">
                Password
                <em *ngIf="!isAddMode">(Leave blank to keep the same password)</em>
            </label>
            <input type="Password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
            <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                <div *ngIf="f.Password.errors.required">Password is required</div>
                <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>